@font-face {
    font-family: 'Heebo';
    src: url('/src/fonts/Heebo-Regular.ttf') format('ttf'); /* adjust the filename accordingly */
    font-weight: normal;
    font-style: normal;
}
.container {
    background-color: white;
    overflow-x: clip;
    padding-left: 2vw;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
}
.title {
    color: gray;
    border-bottom: solid;
    border-width: 1px;
    margin-bottom: 10px;
    margin-top: 8px;
    width: 95%;
}
.mainBody {
    border-top: green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-inline: 5vw;
}
.animalNameInput {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 70vw;
}
.breedSelect {
    margin-top: 15px;
    width: 70vw;
    display: flex;
    flex-direction: column;
}
.hoursTrainedInput {
    margin-top: 15px;
    width: 70vw;
    display: flex;
    flex-direction: column;
}
.dateInput {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;
    gap: 20px;
    color: black;
}
.monthBox {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.animalNameInputBox, .breedSelectBox, .numberInputBox, .monthInput,
.dateInputBox, .yearInput {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 6px;
    border-width: 2px;
    border-color: #C0BFBF ;
    color: #565252;
    height: 5vh;
    padding-left: 10px;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-style: solid;
}
.dateInput {
    margin-top: 15px;
    align-items: center;
    width: 70vw;
}
.dateBox {
    display: flex;
    flex-direction: column;
    color: black;
    width: 20%;
}
.noteInput {
    margin-top: 15px;
    width: 70vw;
}
.titleInput h4,
.animalSelect h4,
.hoursTrainedInput h4,
.dateInput h4,
.noteInput h4 {
  color: black;
}
.notesInputBox {
    padding-top: 10px;
    padding-bottom: 155px;
    padding-left: 5px;
    width: 70vw;
    background-color: white;
    border-radius: 6px;
    border-width: 2px;
    border-color: #C0BFBF ;
    margin-bottom: 10px;
    border-style: solid;
    height: 15vh;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #565252;
}
.cancelButton {
    font-family: 'Heebo', 'sans-serif';
    font-size: medium;
    border-radius: 6px;
    background-color: white;
    color: #D21312;
    width: 700px;
    border-width: 1;
    border-color: #D21312;
    height: 40px;
    border-style: solid;
}
.saveButton {
    font-family: 'Heebo', 'sans-serif';
    font-size: medium;
    border-radius: 6px;
    background-color: #D21312;
    color: white;
    width: 700px;
    border-width: 1;
    border-color: #D21312;
    height: 40px;
    border-style: solid;
}
.yearBox {
    display: flex;
    flex-direction: column;
}
.buttonBar {
    display: flex;
    width: 25%;
    gap: 20px;
    flex-direction: row;
    justify-content: space-around;
}

.saveButton:hover, .cancelButton:hover {
    cursor: pointer;
    opacity: 85%;
}