/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
} */

.everything {
  display: flex;
  flex-direction: column;
}

.editTrainingContainer {
  padding-left: 10px;
}

.editAnimalContainer {
  padding-left: 10px;
}


.headerContainer {
  position: fixed
}

.trainingCardsContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.animalCardsContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  gap: 16px; 
  overflow-y: auto;
}

.sideBarContainer {
  height: max-content;
  overflow: hidden;
  position: relative;
}


.mainContent {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contentContainer {
  overflow: scroll;
  height: max-content;
}

