.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px grey;
    height: 7.5vh;
    padding-left: 2%;
    font-size: 20px;
    box-sizing: content-box;
    background-color: white;
}

.create {
    display: flex;
    padding-right: 30px;
    align-items: center;
    width: 7vw;
    height: 7.5vh;
    justify-content: space-between;
    font-size: 14px;
}

.icon {
    margin-right: 5px;
}

.icon:hover {
    cursor: pointer;
    opacity: 85%;
}