.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px grey;
    height: 50px;
    padding: 0 2%;
    font-size: 20px;
    box-sizing: content-box;
    background-color: white;
}